@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

. banner {
  background-image: url(https://media.istockphoto.com/vectors/festive-outdoor-cinema-screen-semi-flat-vector-illustration-vector-id1269854794?k=20&m=1269854794&s=612x612&w=0&h=r0ehU1cBsrM-MzPTLxJqMoR5WTIVXUVLIiUKcW2rl9E=);
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}
